.main {
    position: absolute;
    bottom: 0;
    /* left: 14.5%; */
    border: 5px solid black;
    border-radius: 5px;
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.extra {
    color: white;
}

.T {
    width: 10vw;
}

.centering {
    display: flex;
    justify-content: center;
}

.home-page {
    height: 87vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5vh;
}

.home-page h1 {
    font-size: 10vh;
}

.visualize-button {
    width: 20vw;
    height: 9vh;
    font-size: larger;
}

.link-button {
    width: 15vw;
}

.tabular-sizing .visualize-button {
    height: 7vh;
}

.up-gap {
    font-size: 5vh;
    /* margin-top: 3vh; */
}

.h3Margin {
    margin-bottom: 4vh;
}

.spanTNP {
    color: black;
    font-weight: 640;
}

.spanTrack {
    color: red;
    font-weight: 700;
}

.spanRack {
    color: black;
}

.redColor {
    background-color: red;
}

.h1trackTNP {
    margin-bottom: 3.5vh;
    text-align: center;
}

#spanFont1 {
    font-size: 3vh !important;
    height: 3vh;
    width: 10vw;
}

#spanFont2 {
    font-size: 3vh !important;
    height: 3vh;
    width: 5vw;
}

#spanSpacing {
    margin-left: 1vh;
    margin-right: 1vh;
}

@media only screen and (max-width: 768px) {
    .home-page {
        margin-top: 0vh;
        width: 100%;
        height: 81vh;
    }

    .up-gap {
        font-size: 3vh;
        margin-top: 3vh;
    }

    .home-page h3 {
        font-size: 3vh;
        text-align: center;
    }

    .home-page h1 {
        font-size: 7vh;
        margin-top: 3.5vh;
    }

    .main {
        width: 100vw;
        height: 10vh;
        position: absolute;
        bottom: 0;
        border: 5px solid black;
        border-radius: 5px;
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        font-weight: bold;
    }

    /* .link-button {
        font-size: small;
        height: 40vh;
        width: 50vw;
    } */

    .visualize-button {
        width: 60vw;
        height: 9vh;
        font-size: 2.2vh;
    }

    .link-button {
        width: 25vw;
        height: 5vh;
        font-size: 2vh;
    }

    .extra {
        width: 34vw;
    }

    .h3Margin {
        margin-bottom: 2.5vh;
    }

    .h1trackTNP {
        margin-top: 0vh;
        margin-bottom: 4vh;
        font-size: 7vh !important;
    }

    .spanTNP {
        color: black;
        font-weight: 640;
    }

    .spanTrack {
        color: red;
        font-weight: 1000;
    }

    #spanFont1 {
        font-size: 2.5vh !important;
        height: 2vh;
        width: 30vw;
    }

    #spanFont2 {
        font-size: 2.7vh !important;
        height: 3vh;
        width: 15vw;
    }

    #spanSpacing {
        height: 4.5vh;
        margin-left: 0.5vh;
        margin-right: 0.5vh;
    }
}