*{
    margin:0;
    padding: 0;
}

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 80vh;
    overflow: auto;
}
/* margin-top: 20px; */

#table-wrapper table {
    width: 70%;
}

#table-wrapper table * {
    background:rgb(112, 235, 157);
    color:black;
}
  
.sticky-header {
    position: sticky;
    top: 0;
    background: rgb(112, 235, 157);
    color: black;
    z-index: 1;
}

/* .company-title-year{
    padding:2vh;
    height: 75vh;
    width:70vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px orange solid;

    overflow-x: hidden;
    overflow-y: auto;
} */

/* .company-data{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}


/* #table-wrapper {
    position:relative;
} */

/* height:150px; */
/* #table-scroll {
    height:80vh; 
    overflow:auto;  
    margin-top:20px;
}


#table-wrapper table {
    width:70%;
}

#table-wrapper table * {
    background:rgb(112, 235, 157);
    color:black;
}

#table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}

.sticky-header th {
    position: sticky;
    top: 0;
    background: rgb(112, 235, 157);
    color: black;
    z-index: 1;
} */
