*{
    margin:0;
    padding: 0;
}

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 80vh;
    overflow: auto;
}

#table-wrapper table {
    width: 70%;
}

#table-wrapper table * {
    background:rgb(112, 235, 157);
    color:black;
}
  
.sticky-header {
    position: sticky;
    top: 0;
    background: rgb(112, 235, 157);
    color: black;
    z-index: 1;
}

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}

/* charts */

.Charts-Scrollable{
    height: 79vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

}

.pie-arranging{
    display: flex;
}

/* charts */